  UW PICO 5.09                                                     File: .gitignore                                                       

*.pyc

# Virtual environments
.venv/  
venv/

# macOS junk
.DS_Store



^G Get Help            ^O WriteOut            ^R Read File           ^Y Prev Pg             ^K Cut Text            ^C Cur Pos             
^X Exit                ^J Justify             ^W Where is            ^V Next Pg             ^U UnCut Text          ^T To Spell           
